<%= form_for([current_user, @post.group, @post, content], remote: true) do | form | %>

  <%= form.label :text, "Text:" %>
  <%= form.text_area :content, id: "text_value" %>
  <div class="actions">
    <%= button_to 'submit', "", class: 'btn btn-danger ms-5' ,onclick:"ajax_call();" %>
  </div>
<% end %>

<script>
    function ajax_call() {
        alert(" i am calling from ajax call")
        $.ajax({
            type: 'POST',
            url: 'user/1/groups/2/posts/16/comments/',
            dataType: 'Script',
            data: {data: "hello"}

        }).done(function (response) {


            console.log(response)
        })


    }
</script>