<%= link_to "Create post", new_user_group_post_path(current_user,@group)%>


<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<%x=@group.users %>

<% if x[0].id==current_user.id %>
  <p>admin user</p>
<% else %>
  <p>prime user</p>
<%end %>
<table class="table">
  <thead>
  <tr>

    <th scope="col">Id</th>
    <th scope="col">Title</th>
    <th scope="col">description</th>

  </tr>
  </thead>
  <tbody>
  <%i=0%>

  <% @post.each do |post| %>

    <tr>
      <td><%=post.id %></td>
      <td><%=post.title %></td>
      <td><%=post.description %></td>


    </tr>

  <% end %>

  </tbody>
</table>